.resultComponent{
  height: 60px;
  background-color: lightgrey;
  width: calc(67% + 8px);
  margin-top: 10px;
  margin-bottom: 5px;
  border-style: inset;
  border-radius: 8px;
  box-sizing: border-box;
}
.resultComponent > p{
  margin-top: 5px;
  font-size: 40px;
}

.calculator{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buttonComponent{
  margin-bottom: 1px;
  margin-right: 2px;
}